<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NWConnStr"
			 connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=SSPI" />
		<add name="AWConnStr" 
			 connectionString="Data Source=.;Initial Catalog=AdventureWorks2019;Uid=sa;Pwd=1234567" />
	</connectionStrings>
</configuration>